.contain-login{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.login {
    width: 600px;
    background: #fff;
    height: 500px;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.login > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 16px 0;
    padding: 16px 0.75rem;
    width: 92%;
    font-size: 17px;
}

.login > .button-L {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.4rem;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

h1{
    padding-top: 5px;
    padding-bottom: 10px;
}

.or{
    font-size: 20px;
    margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
    .contain-login {
      display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .contain-login {
      margin-bottom: 2rem;
    }
}
